@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.song {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
}

.title {
    background: #dfe6e9;
}

.author {
    font-style: italic;
}

p {
    width: 300px;
}

.song  p:last-of-type {
    font-weight: bold;
}

.album .album-title {
    font-style: italic;
}